<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>Job Scrapper</title>
</head>
<body>
  <main class="container">
    <div class="headings">
      <h2>Search Results About</h2>
      <h3>{{keyword}}</h3>
    </div>
    
  <table role="grid">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Job Title</th>
        <th scope="col">Location</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
  {% for job in jobs %}
      <tr>
        <td>{{job.company}}</td>
        <td>{{job.position}}</td>
        <td>{{job.location}}</td>
        <td><a href="{{job.link}}" target="_blank">Apply Now!</a></td>
      </tr>
  {% endfor %}
      </tbody>
    </table>
  </main>
</body>
</html>